html {
    
    background-color: red;
    margin: 0px;
    padding: 20px;

}

body {
    text-align: center;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}

input {
    padding: 10px;
    border-radius: 5px;
}

hr {
    margin: 20px;
    border-top: 2px solid red;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px; 
    margin-bottom: 1em;
}

p {
    font-weight: bold;
    font-size: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .box-one, .box-two, .box-three {padding: 100px;}
    input {margin: 20px;}
    input {padding: 10px;}
}
